.cart-drawer {
    @import "src/theme/_variables";
    @import "src/theme/_breakpoint";

    position:fixed;
    z-index:5;
    transition: all ease-in-out .3s;

    &:hover, 
    &.pulled{
        .puller {
            box-shadow:-10px 0px 40px 0  rgba($accent-color,.5);
        }
    }

    .puller {
        z-index:-1;
        position:absolute;
        cursor:pointer;
        background:$accent-color;
        color:white;
        height:3em;
        width:3em;
        font-size:3em;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50%;
        transition:box-shadow ease-in-out .3s;
    }

    .inner {
        z-index:5;
        background:#FFF;
        height:100%;
        overflow-y:auto;

        & > * {
            padding:1em;
            & + * {
                border-top:1px solid #CCC;
                margin-top:2em;
            }
        }
    }

    /* Wide screen specific */

    @include breakpoint(sm) {

        top:0;
        bottom:0;
        right:0;
        width:50vw;
        transform:translateX(100%);

        &:hover{
            transform:translateX(96%);
            box-shadow:-10px 0px 40px 0  rgba($accent-color,.5);
        }            

        &.pulled {
            transform:translateX(0%);
            box-shadow:-10px 0px 20px 0  rgba($accent-color,.5);
        }

        .inner {
            border-left:5px solid $accent-color;
        }

        .puller {
            left:-1.5em;
            top:calc(50vh - 1.5em);
            svg {
                transform:translateX(-.5em);
            }
        }


    }

    /* Mobile / Tablet specific */

    @include breakpoint(xs) {

        top:0;
        left:0;
        right:0;
        width:auto;
        height:80vh;
        transform:translateY(100vh);

        &.pulled {
            transform:translateY(20vh);
            box-shadow:0px -10px 20px 0 rgba($accent-color,.5);
        }

        .puller {
            top:-1.5em;
            left:calc(50% - 1.5em);
            height:3em;
            width:3em;
            font-size:2em;

            svg {
                transform:translateY(-.5em);
            }

        }

        .inner {
            border-top:5px solid $accent-color;
        }
    }

}
